<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"D:\add\org\apache\ibatis\builder\xml\mybatis-3-config.dtd">
<configuration>

   <mappers>
   <mapper  resource="com/mapper/AllusersMapper.xml"/>
   <mapper  resource="com/mapper/YonghuzhuceMapper.xml"/>
   <mapper  resource="com/mapper/XinwentongzhiMapper.xml"/>
   <mapper  resource="com/mapper/LiuyanbanMapper.xml"/>
   <mapper  resource="com/mapper/XueshengxinxiMapper.xml"/>   <mapper  resource="com/mapper/JiaoshixinxiMapper.xml"/>   <mapper  resource="com/mapper/XuanzedaoshiMapper.xml"/>   <mapper  resource="com/mapper/KaitixinxiMapper.xml"/>   <mapper  resource="com/mapper/TijiaolunwenMapper.xml"/>   <mapper  resource="com/mapper/GonggaoxinxiMapper.xml"/>   <mapper  resource="com/mapper/TongzhiMapper.xml"/>   <!--jixacxicxhu-->
   
   </mappers>

</configuration>
