<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.XuanzedaoshiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Xuanzedaoshi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="gonghao" jdbcType="VARCHAR" property="gonghao" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="kexuanrenshu" jdbcType="VARCHAR" property="kexuanrenshu" />    <result column="yixuanrenshu" jdbcType="VARCHAR" property="yixuanrenshu" />    <result column="xuesheng" jdbcType="VARCHAR" property="xuesheng" />    <result column="lianxifangshi" jdbcType="VARCHAR" property="lianxifangshi" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gonghao,xingming,xingbie,kexuanrenshu,yixuanrenshu,xuesheng,lianxifangshi,beizhu,issh, addtime
  </sql>
  <select id="quchongXuanzedaoshi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from xuanzedaoshi 
    where xuesheng = #{xuesheng,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from xuanzedaoshi  where 1=1
    <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="kexuanrenshu!=null">and kexuanrenshu like  concat('%',#{kexuanrenshu,jdbcType=VARCHAR},'%')</if>     <if test="yixuanrenshu!=null">and yixuanrenshu like  concat('%',#{yixuanrenshu,jdbcType=VARCHAR},'%')</if>     <if test="xuesheng!=null">and xuesheng like  concat('%',#{xuesheng,jdbcType=VARCHAR},'%')</if>     <if test="lianxifangshi!=null">and lianxifangshi like  concat('%',#{lianxifangshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuanzedaoshi  where 1=1
    <if test="xuesheng!=null">
    and xuesheng =#{xuesheng}
    </if>
  </select>
  
  <select id="getsyxuanzedaoshi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuanzedaoshi  where 1=1
    limit 0,5
  </select>
  <select id="getsyxuanzedaoshi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuanzedaoshi  where 1=1
    limit 0,5
  </select>
  <select id="getsyxuanzedaoshi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuanzedaoshi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from xuanzedaoshi where 1=1 
     <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="kexuanrenshu!=null">and kexuanrenshu like  concat('%',#{kexuanrenshu,jdbcType=VARCHAR},'%')</if>     <if test="yixuanrenshu!=null">and yixuanrenshu like  concat('%',#{yixuanrenshu,jdbcType=VARCHAR},'%')</if>     <if test="xuesheng!=null">and xuesheng like  concat('%',#{xuesheng,jdbcType=VARCHAR},'%')</if>     <if test="lianxifangshi!=null">and lianxifangshi like  concat('%',#{lianxifangshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xuanzedaoshi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xuanzedaoshi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Xuanzedaoshi">
    insert into xuanzedaoshi (id, gonghao,xingming,xingbie,kexuanrenshu,yixuanrenshu,xuesheng,lianxifangshi,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{gonghao,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{kexuanrenshu,jdbcType=VARCHAR},#{yixuanrenshu,jdbcType=VARCHAR},#{xuesheng,jdbcType=VARCHAR},#{lianxifangshi,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Xuanzedaoshi">
    insert into xuanzedaoshi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gonghao != null"> gonghao, </if>      <if test="xingming != null"> xingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="kexuanrenshu != null"> kexuanrenshu, </if>      <if test="yixuanrenshu != null"> yixuanrenshu, </if>      <if test="xuesheng != null"> xuesheng, </if>      <if test="lianxifangshi != null"> lianxifangshi, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gonghao != null"> #{gonghao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="kexuanrenshu != null"> #{kexuanrenshu,jdbcType=VARCHAR},</if>      <if test="yixuanrenshu != null"> #{yixuanrenshu,jdbcType=VARCHAR},</if>      <if test="xuesheng != null"> #{xuesheng,jdbcType=VARCHAR},</if>      <if test="lianxifangshi != null"> #{lianxifangshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Xuanzedaoshi">
    update xuanzedaoshi
    <set>
	  <if test="gonghao != null"> gonghao = #{gonghao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="kexuanrenshu != null"> kexuanrenshu = #{kexuanrenshu,jdbcType=VARCHAR},</if>      <if test="yixuanrenshu != null"> yixuanrenshu = #{yixuanrenshu,jdbcType=VARCHAR},</if>      <if test="xuesheng != null"> xuesheng = #{xuesheng,jdbcType=VARCHAR},</if>      <if test="lianxifangshi != null"> lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Xuanzedaoshi">
    update xuanzedaoshi
    set gonghao = #{gonghao,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},kexuanrenshu = #{kexuanrenshu,jdbcType=VARCHAR},yixuanrenshu = #{yixuanrenshu,jdbcType=VARCHAR},xuesheng = #{xuesheng,jdbcType=VARCHAR},lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
